/*BACKGROUND*/
$white1: #f7f7f7;
$white2: #ededed;
$grey: #cdcdcd;
$black: #1b1b1b;
$light-green: #5eb987;
$pink: #dd968e;

/*FONT (fc - font color)*/
$tab-links-f: #1c1caa;
$white-f: #fff;
$grey-f: #6c6c6c;
$win-td-f: #2d9129;
$lose-td-f: #ae1b16;
