/*BACKGROUND*/
$white1: #f7f7f7;
$grey1: #ededed;
$grey2: #cdcdcd;
$black: #1b1b1b;
$light-green: #5eb987;
$pink: #dd968e;

/*FONT (fc - font color)*/
$tab-links-f: #1c1caa;
$white-f: #fff;
$grey-f: #6c6c6c;
$green: #2d9129;
$red: #ae1b16;
