@use '../../../../../mixins';
@use '../../../../../../config/colors';

.filters__button {
    width: 70%;
    text-transform: unset;
    @include mixins.button;
}

.filters__button--filter {
    background: colors.$light-green;
    color: colors.$white-f;
}

.filters__button--unfilter {
    background: colors.$white-f;
    color: colors.$black;
}