//History page 
@use '../../../../../../config/colors';


.filters__value {
    width: 70%;
    display: block;
    padding: 5px;
    margin: auto;
    background: colors.$black;
    color: colors.$white-f;
    border-radius: 10px;
}