@use '/var/www/html/scrap_tests/scrap/sass/framework/config/colors';

.filters__refresh-num {
    font-weight: 600;
    border-left: 2px solid colors.$grey1;
    border-right: 2px solid colors.$grey1;
}