@use '../../../../../config/breakpoints';
@use '../../../../fonts';

.footer__bottom {
    text-align: center;
    padding: 10px;
    letter-spacing: 1px;
}

@media (max-width: breakpoints.$tablets) {
    .footer__bottom {
        font-size: fonts.$v-small;
    }
}