@use '../../../../../config/colors';
@use '../../../../fonts';

.nav__logo {
    font-size: fonts.$v-large;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
    a {
        color: colors.$light-green;
    }
}