@use '../../../../../../config/colors';
@use '../../../../../../config/breakpoints';
@use '../../../../../../local/fonts';



.main-table__table {
    background: colors.$grey1;
    width: 100%;
    overflow: auto;
    text-align: center;
    border-radius: 10px;
    font-size: fonts.$small;

    tr {
        @keyframes blinker {
            50% {
                opacity: 0.2;
            }
        }
    }

    th, td {
        padding: 5px;
    }

    th {
        font-size: fonts.$small;
        text-transform: uppercase;
        border-bottom: 1px solid colors.$grey2;
    }

    a {
        color: colors.$tab-links-f;
    }

    tr:nth-child(even) {
        background: colors.$white1;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media (max-width: breakpoints.$phones) {
    .main-table__table {
        font-size: fonts.$v-small;
    }
}

