@use '../../../../../../../../config/colors';

.filters__caret {
    height: 15px;
    font-size: 24px;
    cursor: pointer;
    display: block;
    color: colors.$grey2;
}

.filters__caret:hover {
    color: colors.$black1;
}