aside .stat-filter i{
    cursor: pointer;
    transition: all 0.8s ease;
}

@media (max-width: 1430px){
    aside,
    aside .aside-option{
        position: fixed;
        right: -100%;
        top: 120px;
        width: 220px;
    }
    aside .filter-wrapper{
        position: fixed;
        right: 0;
        top: 80px;
        display: block;
    }
    aside .aside-option{
        margin: 0;
    }
    #stat-check:checked ~ .aside-option{
        right: 0;
        background: #ededed;
    }
}