@media (max-width: 1200px) and (min-width: 950px){
    nav .nav-wrapper .right-nav{
        position: fixed;
        background: #111;
        color: #111;
        width: 100%;
        left: 0;
        top: 80px;
        text-align: right;
        display: none;
    }
    nav .right-nav ul{
        display: block;
        padding: 5px;
    }
    nav .right-nav ul li{
        padding: 5px;
    }
    #user-check:checked ~ .right-nav{
        display: block;
    }
    #user-check:checked ~ .user-btn i:before{
        content: "\f00d";
    }
    nav .user-btn i{
        display: block;
    }
}
@media (max-width: 950px){
    nav{
        justify-content: space-between;
        padding: 0 100px;
    }
    nav .nav-wrapper{
        display: block;
        width: 100%;
        height: 100vh;
        background: #111;
        color: #111;
        position: fixed;
        left: 0;
        top: 80px;
        left: -100%;
    }
    nav .nav-wrapper ul{
        width: 100%;
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    nav .nav-wrapper ul li{
        margin: 20px 0;
    }
    nav .nav-wrapper ul li a{
        font-size: 20px;
    }
    nav .nav-wrapper .left-nav ul{
        padding: 0;
    }
    nav ul li a:hover{
        color: #5eb987;
        background: none;
    }
    nav .user-btn i{
        display: none;
    }
    nav .nav-btn i{
        display: block;
    }
    #nav-check:checked ~ .nav-wrapper{
        left: 0;
    }
    #nav-check:checked ~ .nav-btn i:before{
        content: "\f00d";
    }
}
