
main section table select,
main section table tbody button{
    width: 100%;
    color: #1b1b1b;
    background: #cdcdcd;
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.3s ease;
}
main section table tbody td i{
    font-style: normal;
}

main section table tbody button:hover{
    background: #1b1b1b;
    color: #fff;
}
main section table input:hover,
main section table input[type="text"]:focus,
main section table select:hover,
main section table select:focus{
    background: #fff;
}

main section table .ball-img{
    width: 20px;
}
main section table td img{
    display: none;
}
main section table .teams-col{
    width: 30%;
}
main section table .sport-col,
main section table .bet-col{
    width: 10%;
}
main section table .odd-col{
    width: 5%;
}
main section table .modify-button{
    background: #fff;
}

@media (max-width: 1700px){
    main section .add-table{
        display: flex;
    }
    main section .add-table tbody,
    main section .add-table thead{
        display: flex;
        width: 100%;
    }
    main section .add-table tr{
        display: block;
        width: 100%;
    }
    main section .add-table td,
    main section .add-table th{
        display: block;
        width: 100%;
        height: 60px;
        padding: 15px;
        font-size: 20px;
    }
    main section .add-table input,
    main section .add-table select{
        padding: 10px;
        font-size: 18px;
        text-align: center;
    }
    main section table .modify-button{
        border: 1px solid #1b1b1b;
    }
    main section table .id-col{
        display: none;
    }
}
@media (max-width: 1430px){
    main .nav-box .stat-narrow{
        display: block;
    }
    main .nav-box{
        position: sticky;
        top: 80px;
    }
    main section table th,
    main section table td{
        padding: 5px;
    }
    main section table .id-col,
    main section table .result-col{
        display: none;
    }
    main section table th,
    main section table th input{
        font-size: 16px;
        text-transform: none;
    }
    main section table input,
    main section table tbody .add-delete-btn,
    main section table tbody button{
        padding: 5px;
        margin: 2px 0;
    }
}
@media (max-width: 1200px){
    main section table td img{
        display: inline-block;
    }
    main section table .sport-col span{
        display: none;
    }
}
@media (max-width: 950px){
    main section table .bookie-col{
        display: none;
    }
    main section table th,
    main section table td{
        padding: 10px 5px;
    }

}