
main section table tbody td i{
    font-style: normal;
}
main section table .ball-img{
    width: 20px;
}
main section table td img{
    display: none;
}

@media (max-width: 1430px){
    main section table th,
    main section table td{
        padding: 5px;
    }
    main section table th,
    main section table th input{
        font-size: 16px;
        text-transform: none;
    }
    main section table input,
    main section table tbody .add-delete-btn,
    main section table tbody button{
        padding: 5px;
        margin: 2px 0;
    }
}
@media (max-width: 1200px){
    main section table td img{
        display: inline-block;
    }
    main section table .sport-col span{
        display: none;
    }
}
@media (max-width: 950px){
    main section table .bookie-col{
        display: none;
    }
    main section table th,
    main section table td{
        padding: 10px 5px;
    }

}