@use '../config/colors' as c;

@mixin fa-btn {
    color: c.$white-f;
    font-size: 24px;
    cursor: pointer;
}

@mixin button {
    color: c.$black;
    background: c.$grey2;
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
    border: 0;
}