.flex {
    display: flex;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.transition {
    transition: all 0.3s ease;
}

.none {
    display: none;
}

.tr-delete-blink {
    animation: 2s blinker 0s linear 1;
}

.tr-add-blink {
    animation: 2s blinker 1s linear 1;
}

.tbody-blink {
    animation: 1s blinker 0s linear 1;
}